:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 1264px;
  height: 802px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0);
}
.groups {
  position: relative;
  width: 1264px;
  height: 65px;
  margin: 3px 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 25;
}
.button {
  position: absolute;
  width: 110px;
  height: 41px;
  right: 39px;
  bottom: 11px;
  background: rgba(0, 0, 0, 0);
  z-index: 26;
}
.background {
  position: relative;
  width: 105px;
  height: 38px;
  margin: 1px 0 0 4px;
  background: url(../assets/images/839d762b9eec8dcdcf073b80d92b18d618356037.png)
    no-repeat center;
  background-size: cover;
  z-index: 27;
}
.music-output {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  right: 15px;
  bottom: 10px;
  color: #979797;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 600;
  line-height: 13.313px;
  text-align: left;
  white-space: nowrap;
  z-index: 28;
}
.button-1 {
  position: absolute;
  width: 70px;
  height: 42px;
  right: 297px;
  bottom: 10px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: none;
  z-index: 32;
}
.background-2 {
  position: relative;
  width: 63px;
  height: 35px;
  margin: 4px 0 0 5px;
  background: #fefefe;
  z-index: 33;
  border-radius: 56px;
}
.home {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 15px;
  right: 15px;
  bottom: 11px;
  color: #909090;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 600;
  line-height: 13.313px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.button-3 {
  position: absolute;
  width: 109px;
  height: 39px;
  right: 168px;
  bottom: 12px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  border: none;
  z-index: 29;
}
.background-4 {
  position: relative;
  width: 103px;
  height: 31px;
  margin: 5px 0 0 4px;
  background: #33d4ff;
  z-index: 30;
  border-radius: 15.25px;
}
.record-music {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  right: 14px;
  bottom: 9px;
  color: #beeffe;
  font-family: Inter, var(--default-font-family);
  font-size: 10.399999618530273px;
  font-weight: 600;
  line-height: 12.586px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.melos {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 22px;
  right: 1152px;
  bottom: 21px;
  color: #313131;
  font-family: Inter, var(--default-font-family);
  font-size: 19.200000762939453px;
  font-weight: 600;
  line-height: 22px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.image {
  position: absolute;
  width: 22px;
  height: 21px;
  right: 1217px;
  bottom: 20px;
  background: url(../assets/images/d97fcce278a1f354a44bc2c76369d23b3ed526ad.png)
    no-repeat center;
  background-size: cover;
  z-index: 36;
}
.background-5 {
  position: relative;
  width: 1264px;
  height: 621px;
  margin: 0 0 0 0;
  background: #fefefe;
  z-index: 8;
}
.groups-6 {
  position: absolute;
  width: 517px;
  height: 380px;
  right: 655px;
  bottom: 121px;
  background: rgba(0, 0, 0, 0);
  z-index: 17;
}
.background-7 {
  position: relative;
  width: 501px;
  height: 369px;
  margin: 6px 0 0 10px;
  font-size: 0px;
  background: #d9f7ff;
  z-index: 18;
  overflow: visible auto;
  border-radius: 19px;
}
.upload-music-files {
  display: block;
  position: relative;
  height: 23px;
  margin: 28px 0 0 177px;
  color: #41494c;
  font-family: Inter, var(--default-font-family);
  font-size: 15.600000381469727px;
  font-weight: 600;
  line-height: 18.88px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.background-8 {
  position: relative;
  width: 446px;
  height: 223px;
  margin: 22px 0 0 27px;
  background: #ffffff;
  z-index: 22;
  border-radius: 21px;
}
.drag-drop-music {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 18px;
  right: 143px;
  bottom: 103px;
  color: #b3b3b3;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 600;
  line-height: 13.313px;
  text-align: left;
  white-space: nowrap;
  z-index: 23;
}
.button-9 {
  position: relative;
  width: 118px;
  height: 40px;
  margin: 9px 0 0 191px;
  background: rgba(0, 0, 0, 0);
  z-index: 19;
  overflow: visible auto;
}
.background-a {
  position: relative;
  width: 112px;
  height: 34px;
  margin: 3px 0 0 3px;
  cursor: pointer;
  background: #33d4ff;
  border: 1px solid #cdedf6;
  z-index: 20;
  border-radius: 17.25px 16.75px 14.25px 14px;
}
.browse-files {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  right: 19px;
  bottom: 9px;
  color: #b8eefe;
  font-family: Inter, var(--default-font-family);
  font-size: 11.199999809265137px;
  font-weight: 600;
  line-height: 13.555px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.groups-b {
  position: absolute;
  width: 514px;
  height: 379px;
  right: 111px;
  bottom: 121px;
  background: rgba(0, 0, 0, 0);
  z-index: 9;
}
.background-c {
  position: relative;
  width: 502px;
  height: 369px;
  margin: 5px 0 0 5px;
  font-size: 0px;
  background: #d9f7ff;
  z-index: 10;
  overflow: visible auto;
  border-radius: 21px;
}
.record-music-d {
  display: block;
  position: relative;
  height: 22px;
  margin: 28px 0 0 150px;
  color: #3e4649;
  font-family: Inter, var(--default-font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 19.364px;
  text-align: left;
  white-space: nowrap;
  z-index: 16;
}
.image-e {
  position: relative;
  width: 87px;
  height: 87px;
  margin: 21px 0 0 207px;
  background: url(../assets/images/a676220bfbe4ace2a41d77cf9d83791b06e141d5.png)
    no-repeat center;
  background-size: cover;
  z-index: 15;
  border-radius: 42.5px;
}
.flex-row-adec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 447px;
  height: 15px;
  margin: 13px 0 0 28px;
  z-index: 14;
}
.volume {
  flex-shrink: 0;
  position: relative;
  height: 14px;
  color: #3d4548;
  font-family: Inter, var(--default-font-family);
  font-size: 11.199999809265137px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 14;
}
.image-f {
  flex-shrink: 0;
  position: relative;
  width: 302px;
  height: 14px;
  background: url(../assets/images/a2568fc89ebc71cd7bc493686efb9ea6c4560675.png)
    no-repeat center;
  background-size: cover;
  z-index: 13;
}
.flex-row-ee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 142px;
  height: 16px;
  margin: 16px 0 0 180px;
  z-index: 12;
}
.recording-status {
  flex-shrink: 0;
  position: relative;
  height: 16px;
  color: #4d575a;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 600;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.inactive {
  flex-shrink: 0;
  position: relative;
  height: 14px;
  color: #71dffe;
  font-family: Inter, var(--default-font-family);
  font-size: 10.699999809265137px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.groups-10 {
  position: relative;
  width: 1264px;
  height: 105px;
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, 0);
  z-index: 2;
  overflow: visible auto;
}
.background-11 {
  position: relative;
  width: 1264px;
  height: 102px;
  margin: -1px 0 0 0;
  background: #f8f8f8;
  z-index: 1;
  overflow: visible auto;
}
.flex-row-aac {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 224px;
  height: 17px;
  margin: 29px 0 0 511px;
  z-index: 6;
}
.about-us {
  flex-shrink: 0;
  position: relative;
  height: 14px;
  color: #949494;
  font-family: Inter, var(--default-font-family);
  font-size: 10.899999618530273px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.contact {
  flex-shrink: 0;
  position: relative;
  height: 14px;
  color: #999999;
  font-family: Inter, var(--default-font-family);
  font-size: 10.699999809265137px;
  font-weight: 600;
  line-height: 14px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.privacy-policy {
  flex-shrink: 0;
  position: relative;
  height: 17px;
  color: #969696;
  font-family: Inter, var(--default-font-family);
  font-size: 11px;
  font-weight: 600;
  line-height: 17px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.allrights-reserved {
  display: block;
  position: relative;
  height: 15px;
  margin: 13px 0 0 536px;
  color: #b7b7b7;
  font-family: Inter, var(--default-font-family);
  font-size: 9.300000190734863px;
  font-weight: 600;
  line-height: 11.255px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.background-12 {
  position: absolute;
  width: 1264px;
  height: 802px;
  right: 0;
  bottom: 0;
  background: url(../assets/images/c0d0ab02f4f60d02a35c93f5015882dd60bd170f.png)
    no-repeat center;
  background-size: cover;
}
.background-13 {
  position: absolute;
  width: 1264px;
  height: 66px;
  right: 0;
  bottom: 733px;
  background: url(../assets/images/5d6a8904ee36df63299e116cc08adc85b3114f22.png)
    no-repeat center;
  background-size: cover;
  z-index: 7;
}
